.grid {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.piece {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shuffle {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}
